

body {
    background-color: #f0f0f0;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header {
    display: block;
    text-align: center;
    background-color: honeydew;
    padding-bottom: 30px;
    padding-top: 10px;
}

header > h1 {
    font-family: "Century Gothic", Arial, sans-serif;
    font-size: 4rem;
    margin-bottom: 5px;
}

header > span {
    font-size: 2rem;
    font-family: Calibri, Arial, sans-serif;
    font-weight: bold;
}

#nav {
    background-color: honeydew;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;

    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.link-container {
    justify-content: center;
    align-content: center;
    text-align: center;

    margin: 0;
    padding: 2rem 0;
    width: 100%;
    height: 40px;

    background-position: center;
    background-size: 100%;

    transition: width 0.5s ease-out, background-size 0.5s ease-out;
}

.link {
    font-family: "Calibri Light", sans-serif;
    color: orangered;
    text-decoration: none;
    font-weight: 400;
}

.nav {
    display: flex;
    align-content: center;
    justify-content: center;
    width: auto;

    transition: font-size 0.5s ease-out, background-color 0.3s ease-in, font-weight 0.1s ease-out;
}

.link-container:hover {
    font-size: 2rem;
    width: 120%;
    background-size: 105%;
    .external-link {
        background-color: black;
        font-weight: 800;
    }
}

.nav{
    background-color: rgba(0, 0, 0, 0.5);
}

#education-button {
    background-image: url(https://th.bing.com/th/id/OIP.QrklQ-PPPU3aKTxGL_DdoQHaE8?rs=1&pid=ImgDetMain);
}

#experience-button {
    background-image: url(https://th.bing.com/th/id/OIP.X-OS9N5Z0jr9jc9aBOpiPgAAAA?rs=1&pid=ImgDetMain);
}

#skills-button {
    background-image: url(https://th.bing.com/th/id/R.7e6980c76a3a36775271a59670f19c61?rik=ayfCJl5Wugr2sg&pid=ImgRaw&r=0);
}



#personal-container {
    display: block;
    padding: 10px;
    justify-content: center;

    background-color: honeydew;
    border-right: 2px solid brown;
}

.list {
    padding: 0;
    margin: 0;
}

section {
    display: block;
}
section.education {
}

.main-title {
    background-color: cadetblue;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}

section > ul {
    padding: 20px;
    margin: 50px;
}

li {
    font-family: Calibri, Arial, sans-serif;
    padding: 8px;
    font-size: larger;
}

h2 {
    font-family: sans-serif;
}




footer > h1
{
    font-family: "Century Gothic", sans-serif;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 100px;

    border-top: 5px solid black;
}

.block {
    display: block;
}

.subject {
    padding-right: 8px;
}

.name {
    padding-right: 2px;
}

div:has(label){
    padding: 5px;
}

.line{
    display: block;
    height: 1px;
    background-color: black;
}