

body {
    background-color: beige;
    margin: 0;
}

header {
    display: block;
    text-align: center;
    background-color: honeydew;
    padding-bottom: 30px;
    padding-top: 10px;
}

header > h1 {
    font-family: "Century Gothic", Arial, sans-serif;
    font-size: 4rem;
    margin-bottom: 5px;
}

header > span {
    font-size: 2rem;
    font-family: Calibri, Arial, sans-serif;
    font-weight: bold;
}


section {
    display: block;
}
section.education {
}

section > h2 {
    background-color: cadetblue;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}

section > ul {
    padding: 20px;
    margin: 50px;
}

li {
    font-family: Calibri, Arial, sans-serif;
    padding: 8px;
    font-size: larger;
}

h2 {
    font-family: sans-serif;
}

nav {
    background-color: honeydew;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.link {
    font-family: "Calibri Light", sans-serif;
    color: orangered;

}

.link:hover {
    font-weight: bold;
}

footer > h1
{
    font-family: "Century Gothic", sans-serif;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 100px
}

.block {
    display: block;
}

.subject {
    padding-right: 8px;
}

.name {
    padding-right: 2px;
}

div:has(label){
    padding: 5px;
}

.line{
    display: block;
    height: 1px;
    background-color: black;
}